@media screen and (max-width: 767px) {
    h1 {
        font-size: 68px;
    }
    h2 {
        font-size: 45px;
    }
    h3 {
        font-size: 23px;
    }
    h4 {
        font-size: 19px;
    }
    li {
        font-size: 16px !important;
    }
    p {
        font-size: 14px;
    }
    .colm_main {
        flex-direction: column;
    }
    #profile .colm-2 div {
        padding-left: 0;
    }
    #profile .colm {
        max-width: 75%;
    }
    #profile .colm_main {
        gap: 2em;
    }
    .contact_title {
        text-align: center;
    }
    .contact_cont {
        width: 100%;
    }
    #contact .colm {
        max-width: 100%;
        align-self: auto;
    }
    #contact .colm_main {
        width: 50%;
        margin: 0 auto;
    }
    #contact .colm li {
        height: 3em;
    }
}

@media screen and (max-width: 667px) {
    #contact .colm_main {
        width: 75%;
    }
}

@media screen and (max-width: 567) {
    #contact .colm_main {
        width: 100%;
    }
}