@media only screen and (max-width: 989px) {
    .hero {
        flex-direction: column;
    }
    .colm {
        display: flex;
        align-items: center;
    }
    .hero .title {
        align-items: center;
        margin-bottom: 50px;
    }
}